@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "Frutiger Next Pro Light";
    src: url(fonts/FrutigerNextPro-Light.otf);
}
@font-face {
    font-family: "Frutiger Next Pro Medium";
    src: url(fonts/FrutigerNextPro-Medium.otf);
}
@font-face {
    font-family: "Frutiger Next Pro Bold";
    src: url(fonts/FrutigerNextPro-Bold.otf);
}
@font-face {
    font-family: "Script MT Bold";
    src: url(fonts/ScriptMTBold.ttf);
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

#progress-bar{
	position:relative;
	top:332px;
	left: 392px;
	height:20px;
	width: 200px;
	overflow:hidden;
	border:1px solid black;
}
#progress{
	position:relative;
	width: 100%;
	height:20px;
	left:-100%;
	background:#00A2DD;
}
#loader{
	left: 90px;
	position: absolute;
	top: 1px;
	width:20px;
	height:20px;
}

